<div class="profile">
    <section class="create-post">
        <h2 class="create-post-title">Create New Post</h2>

        <form class="new-post-form">
            <div>
                <input type="text" id="post-title" name="post-title" placeholder="Title" />
            </div>
            <div>
                <input type="text" id="post-body" name="post-body" placeholder="Body" />
            </div>
            <button type="submit" class="btn">Create</button>
        </form>
    </section>

    {{#if posts.length}}
    <section class="profile-posts">
        <h2 class="your-posts">Your Posts</h2>
        <ul class="profile-post-list">
            {{#each posts as |post|}}
            <li>
                {{> post-info post}}
                <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
            </li>
            {{/each}}
        </ul>
    </section>
    {{/if}}
</div>

<script src="/javascript/add-post.js"></script>